<?xml version="1.0" encoding="utf-8"?>
<Ku>
    <Description>orm与 row 各端一致性测试</Description>
    <PackagePath>..\..\out\bin</PackagePath>
    <References>
        <Base Name="by" />
        <Hint FilePath="..\..\..\..\lib\byBase.byz" />
        <Hint FilePath="..\..\..\..\lib\CMS.byz" />
    </References>
</Ku>