<?xml version="1.0" encoding="utf-8"?>
<Project>
    <Dress ClientChecked="true" ClientFormWidth="0" ClientFormHeight="0" WebChecked="true" ApplyComparisonUserChanges="false" />
    <Translation SaaSMode="false" AutoDeploy="true">
        <Client Checked="true" SolutionName="ORMRow_DesktopClient" EntryPointName="ORMRow.identity.ClientStartup.main(string[])" DressPath="scene\client\dress\system" CompileChecked="true" CompileMSBuildPath="C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe" CompileWarningLevel="3" ShowCompileInfo="true" CompileOpenApplication="true" />
        <Web Checked="true" DressPath="scene\web\dress\system" />
        <ServerCSharp Checked="true" SolutionName="ORMRow_Server" EntryPointName="ORMRow.identity.ServerStartup.main(string[])" OverwriteWebConfigFile="true" CompileChecked="true" CompileMSBuildPath="C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\MSBuild.exe" CompileWarningLevel="3" ShowCompileInfo="true" />
        <ServerJava Checked="false" ProjectName="ORMRow_Server" EntryPointName="ORMRow.identity.ServerStartup.main(string[])" OverwriteConfigPropertiesFile="true" PackageChecked="true" PackageCustomizedJdkPath="" PackageUseCustomizedJdkPath="false" PackageCustomizedMavenPath="" PackageUseCustomizedMavenPath="false" PackageWarningLevel="3" PackageShowPackageInfo="true" />
        <Database Checked="true">
            <Ku Name="ORMRow" Checked="true" CustomName="" DropTableIfExists="true" DatabaseConnectionName="ORMRow">
                <Sheet Name="category" Checked="true" />
                <Sheet Name="news" Checked="true" />
                <Sheet Name="log" Checked="true" />
                <Sheet Name="userCms" Checked="true" />
                <Sheet Name="webUI" Checked="true" />
                <Sheet Name="comment" Checked="true" />
                <Sheet Name="sceneNews" Checked="true" />
                <Sheet Name="columns" Checked="true" />
                <Sheet Name="columnsNews" Checked="true" />
                <Sheet Name="video" Checked="true" />
                <Sheet Name="uRL" Checked="true" />
            </Ku>
            <Ku Name="byUser" Checked="true" CustomName="" DropTableIfExists="true" DatabaseConnectionName="byUser">
                <Sheet Name="userUpload" Checked="true" />
                <Sheet Name="log" Checked="true" />
                <Sheet Name="user" Checked="true" />
                <Sheet Name="userICO" Checked="true" />
                <Sheet Name="userAdmin" Checked="true" />
                <Sheet Name="anonymous" Checked="true" />
            </Ku>
            <Connection Name="ORMRow" SqlEngineKind="SqlServer" Address="127.0.0.1" Port="1433" ServiceName="" UserName="sa" Password="MySql@2023" />
            <Connection Name="byUser" SqlEngineKind="SqlServer" Address="127.0.0.1" Port="1433" ServiceName="" UserName="sa" Password="MySql@2023" />
        </Database>
    </Translation>
    <Deployment ServerKind="IISExpress" OpenWebHomePage="true" WebHomePage="index.html" OpenServerHomePage="true" Url="http://localhost:54432" WebVirtualPath="/" ServerVirtualPath="/server">
        <IISExpress Bit32="true" />
        <Tomcat CustomizedTomcatPath="" UseCustomizedTomcatPath="false" />
    </Deployment>
</Project>