<?xml version="1.0" encoding="utf-8"?>
<ProjectConfigHistory>
    <ProjectDressHistory ClientChecked="true" ClientFormWidth="0.8" ClientFormHeight="0.8" WebChecked="true" ApplyComparisonUserChanges="false" />
    <ProjectTranslationHistory>
        <Client Checked="true" SolutionName="DesktopClient" EntryPointName="" ServerPresetUrl="http://localhost/" DressPath="scene\client\dress\system" ResourceChecked="true" ResourceAssemblyName="ResourcesManager" CompileChecked="true" CompileMSBuildPath="C:\WINDOWS\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe" />
        <Web Checked="true" ServerPresetUrl="http://localhost/" DressPath="scene\web\dress\system" ResourceChecked="true" />
        <ServerCSharp Checked="true" SolutionName="Server" EntryPointName="" GenerateConfigFile="true" CompileChecked="true" CompileMSBuildPath="C:\WINDOWS\Microsoft.NET\Framework64\v4.0.30319\MSBuild.exe" DeployChecked="true" DeployPort="8001" DeploySiteName="src" DeployVirtualFolderName="server" DeployApplicationPoolName="src" />
        <ServerJava Checked="true" ProjectName="Server" EntryPointName="" />
        <Database Checked="true" DropTableIfExists="true" />
    </ProjectTranslationHistory>
</ProjectConfigHistory>